<%= flash[:notice] %>
<div class="title">
          Forget Password
 </div>
<%= form_with model: @user , url: "/password/forgot_password" , method: :post do |f|%>
<div class="input-box">
<i class="fas fa-envelope"></i>
    <%= f.text_field :email , placeholder: "Enter Your Email"%>
</div>
<div class="button input-box">
   <%= f.submit 'Send Password' %>
</div>
<% end %>
